views/games.haml
.grid-clearfix.section.light.layout-full-bleed
  .section-inner
    .grid-16.hero-unit(style="margin-bottom:0px")
      %h1
        %span.line You Get £100 million. 
        %span.line Make it count.
      %span.strapline take on other users head to head
    .grid-clearfix
      .grid-16
        %ul.nav-tabs-game
          %li{:class => ("active" if @game == "one-on-one")}
            %a(href="#one-on-one" data-toggle="tab")Play one-on-one
          %li{:class => ("active" if @game == "multiplayer")}
            %a(href="#multiplayer" data-toggle="tab") play multiplayer
          %li{:class => ("active" if @game == "my-club")}
            %a(href="#my-club" data-toggle="tab") my club
      .grid-clearfix(style="padding:0px 30px")
        #one-on-one.tab-pane{:class => ("active" if @game == "one-on-one")}
          .grid-10
            .box{:style => "height:270px;"}
              .header
                %h1 0 challenges received:
              .body
            .box(style="height:550px;")
              .header
                %h1 create a challenge
              .body
              
          .grid-5.pull-right
            .grid-5.box-light.pull-right(style="height:280px;")
              .header-highlight
                %h2 My live challenges
            .grid-5.box.pull-right(style="height:250px;")
              .header
                %h2 Challenges awaiting response:
            .grid-5.box.pull-right(style="height:250px;")
              .header
                %h2 declined challenges
        #multiplayer.tab-pane{:class => ("active" if @game == "multiplayer")}
          .grid-10.invites
            .box
              .header
                %h1 3 invites received
              .body
                #tickets.carousel.slide
                  .carousel-inner
                    .item.active
                      = partial :_multiplayer_ticket
                    .item
                      = partial :_multiplayer_ticket
                  %a.carousel-control.left{"data-slide" => "prev", :href => "#tickets"}
                    %img{:src => "../images/arrow-left.png"}
                  %a.carousel-control.right{"data-slide" => "next", :href => "#tickets"}
                    %img{:src => "../images/arrow-right.png"}
            .box
              .header
                %h1 Join a Multiplayer Game
              .body#join-multiplayer{:style => "padding-left: 50px; padding-right: 50px;"}
                %input.search{:placeholder => "Search by Name..."}
                %label Game Type
                %select.filter
                  %option{:value => ""} All
                  %option{:value => "Ambassadors"} Ambassadors
                  %option{:value => "Users"} Users
                / %span#clear Clear Filters
                %table.game-table-medium.data-table
                  %thead
                    %tr
                      %th.name-column Game Name
                      %th.number-column Players
                      %th.currency-column Entry
                      %th.currency-column Pot
                      %th.invite-column Invite
                      %th.action-column Multiplayer
                      %th.game-type Game Type
                  %tbody
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr.success
                      %td.name-column 
                        %a{:href => "#"} The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.banner-small.dropdown{:href => "#view"} You're in!
                      %td.game-type
                        Users
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr
                      %td.name-column The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Ambassadors
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr.success
                      %td.name-column 
                        %a{:href => "#"} The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.banner-small.dropdown{:href => "#view"} You're In!
                      %td.game-type
                        Users
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Ambassadors
                    %tr
                      %td.name-column The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Ambassadors
                    %tr.success
                      %td.name-column 
                        %a{:href => "#"} The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.banner-small.dropdown{:href => "#view"} You're In!
                      %td.game-type
                        Ambassadors
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr
                      %td.name-column The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
            
          .grid-5.grid-pull-right
            .grid-5.box
              .header-highlight
                %h2 My live Multiplayer games
              .body
                %p 
                  You are in 2 LIVE GAMES to WIN
                  %span.amount-total.pull-right &pound;4.00
                %table.game-table-small
                  %thead.highlight
                    %tr
                      %th.name-column Game Name
                      %th.currency-column Entry
                      %th.currency-column Pot
                  %tbody
                    %tr
                      %td.name-column 
                        %a{:href => "#"} Lucy - PlayON Team
                      %th.currency-column &pound;2.20
                      %th.currency-column &pound;4.00
                    %tr
                      %td.name-column 
                        %a{:href => "#"} David Mullins
                      %th.currency-column &pound;0.00
                      %th.currency-column &pound;0.00
            .grid-5.box
              .header
                %h2 Recreate a previous game  
              .body
                %p Recreate one of your previous Multiplayer games
                %table.game-table-small
                  %thead
                    %tr
                      %th.name-column Game Name
                      %th &nbsp;
                  %tbody
                    %tr
                      %td.name-column
                        %a{:href => "#"} The &pound;10 Game
                      %td
                        %a.button{:href => "#"} Recreate
                    %tr
                      %td.name-column
                        %a{:href => "#"}  The League of Office Banter
                      %td
                        %a.button{:href => "#"} Recreate
            .grid-5.box(style="height:250px;")
              .header
                %h2 declined challenges
                
= partial :_modal

views/games.html
<div class='grid-clearfix section light layout-full-bleed'>
  <div class='section-inner'>
    <div class='grid-16 hero-unit' style='margin-bottom:0px'>
      <h1>
        <span class='line'>You Get £100 million.</span>
        <span class='line'>Make it count.</span>
      </h1>
      <span class='strapline'>take on other users head to head</span>
    </div>
    <div class='grid-clearfix'>
      <div class='grid-16'>
        <ul class='nav-tabs-game'>
          <li>
            <a data-toggle='tab' href='#one-on-one'>Play one-on-one</a>
          </li>
          <li>
            <a data-toggle='tab' href='#multiplayer'>play multiplayer</a>
          </li>
          <li>
            <a data-toggle='tab' href='#my-club'>my club</a>
          </li>
        </ul>
      </div>
      <div class='grid-clearfix' style='padding:0px 30px'>
        <div class='tab-pane' id='one-on-one'>
          <div class='grid-10'>
            <div class='box' style='height:270px;'>
              <div class='header'>
                <h1>0 challenges received:</h1>
              </div>
              <div class='body'></div>
            </div>
            <div class='box' style='height:550px;'>
              <div class='header'>
                <h1>create a challenge</h1>
              </div>
              <div class='body'></div>
            </div>
          </div>
          <div class='grid-5 pull-right'>
            <div class='grid-5 box-light pull-right' style='height:280px;'>
              <div class='header-highlight'>
                <h2>My live challenges</h2>
              </div>
            </div>
            <div class='grid-5 box pull-right' style='height:250px;'>
              <div class='header'>
                <h2>Challenges awaiting response:</h2>
              </div>
            </div>
            <div class='grid-5 box pull-right' style='height:250px;'>
              <div class='header'>
                <h2>declined challenges</h2>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane' id='multiplayer'>
          <div class='grid-10'>
            <div class='box' style='height:270px;'>
              <div class='header'>
                <h1>3 invites received</h1>
              </div>
              <div class='body'>
                <div class='ticket-with-sidebar'>
                  <div class='ticket-sidebar'>
                    <h3>Created by:</h3>
                    <div class='profile'>
                      <img class='profile-image' src='http://placehold.it/52x52'>
                      <span class='profile-name'>Adam Carroll</span>
                    </div>
                    <h3>Payout Structure</h3>
                    <ul class='payout-structure'>
                      <li>1st place: 50%</li>
                      <li>2nd place: 30%</li>
                      <li>3rd place: 20%</li>
                    </ul>
                  </div>
                  <div class='ticket-details'>
                    <span>The Big One</span>
                    <h1>Multiplayer Game</h1>
                    <span>Already In: 14 Players | 8 Contacts | 3 Ambassadors</span>
                    <div class='ticket-controls ticket-summary'>
                      <span class='value'>
                        <span class='label'>Entry:</span>
                        <span class='amount'>&pound;5.50</span>
                      </span>
                      <span class='value'>
                        <span class='label'>Pot:</span>
                        <span class='amount-total'>&pound; 20.00</span>
                      </span>
                      <a class='button' href='#'>Join this game</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='box'>
              <div class='header'>
                <h1>Join a Multiplayer Game</h1>
              </div>
              <div class='body' id='join-multiplayer'>
                <label>Game Type</label>
                <select class='filter'>
                  <option value=''>All</option>
                  <option value='Ambassadors'>Ambassadors</option>
                  <option value='Users'>Users</option>
                </select>
                <!-- %span#clear Clear Filters -->
                <table class='game-table data-table'>
                  <thead>
                    <tr>
                      <th class='name-column'>Game Name</th>
                      <th class='number-column'>Players</th>
                      <th class='currency-column'>Entry</th>
                      <th class='currency-column'>Pot</th>
                      <th class='invite-column'>Invite</th>
                      <th class='action-column'>Multiplayer</th>
                      <th class='game-type-column'>Game Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr class='success'>
                      <td class='name-column'>
                        <a href='#'>The £5 Game</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>You're in</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>The £5 Game</td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr class='success'>
                      <td class='name-column'>
                        <a href='#'>The £5 Game</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>You're in</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>The £5 Game</td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr class='success'>
                      <td class='name-column'>
                        <a href='#'>The £5 Game</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>You're in</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>The £5 Game</td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class='grid-5 grid-pull-right'>
            <div class='grid-5 box'>
              <div class='header-highlight'>
                <h2>My live Multiplayer games</h2>
              </div>
              <div class='body'>
                <p>
                  You are in 2 LIVE GAMES to WIN
                  <span class='total'>&pound;4.00</span>
                </p>
                <table class='game-table-small'>
                  <thead class='highlight'>
                    <tr>
                      <th class='name-column'>Game Name</th>
                      <th class='currency-column'>Entry</th>
                      <th class='currency-column'>Pot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>Lucy - PlayON Team</a>
                      </td>
                      <th class='currency-column'>&pound;2.20</th>
                      <th class='currency-column'>&pound;4.00</th>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>David Mullins</a>
                      </td>
                      <th class='currency-column'>&pound;0.00</th>
                      <th class='currency-column'>&pound;0.00</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class='grid-5 box'>
              <div class='header'>
                <h2>Recreate a previous game</h2>
              </div>
              <div class='body'>
                <p>Recreate one of your previous Multiplayer games</p>
                <table class='game-table-small'>
                  <thead>
                    <tr>
                      <th class='name-column'>Game Name</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The &pound;10 Game</a>
                      </td>
                      <td>
                        <a class='button' href='#'>Recreate</a>
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The League of Office Banter</a>
                      </td>
                      <td>
                        <a class='button' href='#'>Recreate</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class='grid-5 box' style='height:250px;'>
              <div class='header'>
                <h2>declined challenges</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='modals'>
  <div class='modal' id='multiplayer-game'>
    <h1>The Big One</h1>
    <div class='ticket-with-sidebar'>
      <div class='ticket-sidebar'>
        <h3>Created by:</h3>
        <div class='profile'>
          <img class='profile-image' src='http://placehold.it/52x52'>
          <span class='profile-name'>Adam Carroll</span>
        </div>
        <h3>Payout Structure</h3>
        <ul class='payout-structure'>
          <li>1st place: 50%</li>
          <li>2nd place: 30%</li>
          <li>3rd place: 20%</li>
        </ul>
      </div>
      <div class='ticket-details'>
        <span>The Big One</span>
        <h1>Multiplayer Game</h1>
        <span>Already In: 14 Players | 8 Contacts | 3 Ambassadors</span>
        <div class='ticket-controls ticket-summary'>
          <span class='value'>
            <span class='label'>Entry:</span>
            <span class='amount'>&pound;5.50</span>
          </span>
          <span class='value'>
            <span class='label'>Pot:</span>
            <span class='amount-total'>&pound; 20.00</span>
          </span>
          <a class='button' href='#'>Join this game</a>
        </div>
      </div>
    </div>
  </div>
</div>
