views/rewards.haml
.m-section
  .m-section--body

    .m-content--group
      .grid-10.grid-prefix-4
        %ul.m-tab-navigation_rewards.tabs-2
          %li.m-tab-navigation_rewards--tab.active
            %a.m-tab-navigation_rewards--link{"data-toggle" => "tab", :href => "#playon_points"}
              PlayON Reward Points
          %li.m-tab-navigation_rewards--tab
            %a.m-tab-navigation_rewards--link{"data-toggle" => "tab", :href => "#club_points"}
              PlayON Club Points
    #playon_points.m-tab-pane.active
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %em.m-division--heading-playon PlayON
              Rewards point levels and prizes
        .m-content--body.grid-10
          %p.m-content--body-text PlayON Reward Point Levels:
          .m-division--well
            .m-reward-level.ballboy
              %p.m-reward-level--info Ballboy
              %p.m-reward-level--info 500 points
              %p.m-reward-level--info -
            .m-reward-level.player
              %p.m-reward-level--info Player
              %p.m-reward-level--info 5,000 points
              %p.m-reward-level--info.glow £10 Free
            .m-reward-level.manager
              %p.m-reward-level--info Manager
              %p.m-reward-level--info 20,000 points
              %p.m-reward-level--info.glow £20 Free
            .m-reward-level.hero
              %p.m-reward-level--info Hero
              %p.m-reward-level--info 50,000 points
              %p.m-reward-level--info.glow £50 Free
            .m-reward-level.legend
              %p.m-reward-level--info Legend
              %p.m-reward-level--info 100,000 points
              %p.m-reward-level--info.glow £100 Free
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              ways to earn
              %em.m-division--heading-playon PlayON
              Rewards Points
        .m-content--body.grid-10
          %p.m-content--body-text 
            You can earn PlayON Reward Points in the following ways:
          %table.m-content--table
            %thead
              %tr
                %th Action
                %th Reward
            %tbody
              %tr
                %td.m-content--body-text Invite a friend to join PlayON and they accept and deposit:
                %td.m-content--body-text 1000 points
              %tr
                %td.m-content--body-text Challenge someone to a cash one-on-one game and they accept:
                %td.m-content--body-text 50 points
              %tr
                %td.m-content--body-text Invite someone to a cash multiplayer game and they join:
                %td.m-content--body-text 50 points
              %tr
                %td.m-content--body-text Every time you enter a cash one-on-one game:
                %td.m-content--body-text 10 points
              %tr
                %td.m-content--body-text Every time you enter a cash multiplayer game:
                %td.m-content--body-text 10 points

      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              Invite friends
        .m-content--body.grid-10
          %p.m-content--body-text For every friend who signs-up to PlayON, we'll give you 1,000 Reward Points.
          %p.m-content--body-text Each friend that joins through an invite automatically gets 750 Reward Points versus 500 Reward Points if they join without an invite.

          %p.m-content--body-text Know anyone that likes Fantasy Football?

          %a.m-button{href: "#invite_modal", "data-toggle" => "modal"} Invite to PlayON

    #club_points.m-tab-pane
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Club point levels and prizes
        .m-content--body.grid-10
          %p.m-content--body-text PlayON Club Point Levels:
          .m-division--well
            .m-reward-level.club.green
              %p.m-reward-level--info Status: Green
              %p.m-reward-level--info 0 - 500 points
              %p.m-reward-level--info -
            .m-reward-level.club.bronze
              %p.m-reward-level--info Status: Bronze
              %p.m-reward-level--info 10m points
              %p.m-reward-level--info.glow 10 x £10 Free
            .m-reward-level.club.silver
              %p.m-reward-level--info Status: Silver
              %p.m-reward-level--info 50m points
              %p.m-reward-level--info.glow 10 x £20 Free
            .m-reward-level.club.gold
              %p.m-reward-level--info Status: Gold
              %p.m-reward-level--info 250m points
              %p.m-reward-level--info.glow 10 x £50 Free
            .m-reward-level.club.black
              %p.m-reward-level--info Status: Black
              %p.m-reward-level--info 1bn points
              %p.m-reward-level--info.glow 10 x £100 Free

      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading How to earn club points
        .m-content--body.grid-10
          %p.m-content--body-text Your club earns PlayON Club Points in the following ways:

          %table.m-content--table
            %thead
              %tr
                %th Action
                %th Reward
            %tbody
              %tr
                %td.m-content--body-text
                  Every week when you play cash games on PlayON, your highest team
                  %br
                  total is added to your club total:
                %td.m-content--body-text 9,999 points
              %tr
                %td.m-content--body-text Invite someone to join a club and they join:
                %td.m-content--body-text 1,000 points
              %tr
                %td.m-content--body-text You join a club
                %td.m-content--body-text 500 points
              %tr
                %td.m-content--body-text You leave a club
                %td.m-content--body-text -500 points
          %p.m-content--body-text 
            Know anyone that supports your club?

          %a.m-button{href: "#invite_modal", "data-toggle" => "modal"} Invite to Club

public/html/rewards.html
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='en' name='lang'>
    <title>/rewards</title>
    <link href='favicon.ico' rel='shortcut icon'>
    <link href='apple-touch-icon.png' rel='apple-touch-icon'>
    <link href='http://localhost:9393/stylesheets/webfonts.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='http://localhost:9393/stylesheets/application.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='http://localhost:9393/stylesheets/themes/light.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='http://localhost:9393/stylesheets/last.css' media='screen' rel='stylesheet' type='text/css'>
    <script src='http://localhost:9393/javascripts/lib/jquery-1.9.1.min.js'></script>
    <script src='http://localhost:9393/javascripts/lib/modernizr-2.6.2.js'></script>
    <script src='http://localhost:9393/javascripts/lib/jquery-ui-1.10.0.custom.min.js'></script>
    <script src='http://localhost:9393/javascripts/lib/bootstrap.js'></script>
    <script src='http://localhost:9393/javascripts/lib/jquery.dropkick-1.0.0.js'></script>
    <script src='http://localhost:9393/javascripts/lib/jquery.outside-events.min.js'></script>
    <script src='http://localhost:9393/javascripts/modules/_dropdowns.js'></script>
    <script src='http://localhost:9393/javascripts/application.js'></script>
  </head>
  <body>
    <div class='grid-container'>
      <header class='l-header'>
        <h1 class='m-logo'>
          <a href='index.html'>
            <img src='http://localhost:9393/images/logo.png'>
          </a>
        </h1>
        <ul class='m-navigation_top-bar' id='navigation_top-bar'>
  <li class='m-navigation_top-bar--item'>
    <select class='dropkick' name='sport'>
      <option value='Football'>Football</option>
      <option value='Cricket'>Cricket</option>
      <option value='Golf'>Golf</option>
      <option value='NBA'>NBA</option>
    </select>
  </li>
  <li class='m-navigation_top-bar--item'>
    <select class='dropkick' name='language'>
      <option value='English'>English</option>
      <option value='Français'>Français</option>
      <option value='Deutsch'>Deutsch</option>
      <option value='हिन्दी'>हिन्दी</option>
    </select>
  </li>
  <li class='m-navigation_top-bar--item'>
    <a class='m-navigation_top-bar--link' data-target='#modal' data-toggle='modal' href='rewards.html#signup'>sign up</a>
  </li>
  <li class='m-navigation_top-bar--item m-dropdown topbar'>
    <a class='m-navigation_top-bar--link m-dropdown--link login' href='rewards.html#login'>
      Log in
      <b class='caret'></b>
    </a>
    <div class='m-dropdown-content container right'>
      <form action='account/transaction-history.html' class='m-form' id='login-form'>
        <div class='m-form-element'>
          <label class='m-label'>Email Address</label>
          <input class='m-input_text email' type='text'>
        </div>
        <div class='m-form-element'>
          <label class='m-label'>Password</label>
          <input class='m-input_text' type='password'>
        </div>
        <div class='m-form-actions'>
          <div class='m-form-actions--previous'>
            <a class='m-link_muted' href='rewards.html#'>Forgot  password</a>
          </div>
          <div class='m-form-actions--next'>
            <button class='m-button' type='submit'>Log in</button>
            <a class='m-link_secondary' data-target='#modal' data-toggle='modal' href='rewards.html#'>or sign up</a>
          </div>
        </div>
      </form>
    </div>
  </li>
</ul>
      </header>
      <div class='m-section' id='primary-navigation-section'>
        <ul class='m-navigation_primary' id='main_navigation'>
          <li class='m-navigation_primary--item home'>
            <a class='active m-navigation_primary--link' href='index.html'>
              <i class='icon-home-selected'></i>
            </a>
          </li>
          <li class='m-navigation_primary--item'>
            <a class='m-navigation_primary--link' href='team/pick.html'>
              My Team
            </a>
          </li>
          <li class='m-navigation_primary--item'>
            <a class='m-navigation_primary--link' href='games/one-on-one.html'>
              One-on-One Games
            </a>
          </li>
          <li class='m-navigation_primary--item'>
            <a class='m-navigation_primary--link' href='games/multiplayer.html'>
              Multiplayer Games
            </a>
          </li>
          <li class='m-navigation_primary--item m-dropdown primary'>
            <a class='m-navigation_primary--link m-dropdown--link' href='rewards.html#'>
              More
              <b class='caret'></b>
            </a>
            <ul class='m-dropdown-content menu left'>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='how-to-play/introduction.html'>How to Play</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='team/results.html'>My Results</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='account/rewards.html'>My Rewards</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='club/chelsea.html'>My Club</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='profile.html'>My Profile</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='account/transaction-history.html'>My Account</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='leaderboard.html'>Top 5 Leaderboard</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' data-toggle='modal' href='rewards.html#invite_modal'>Invite Friends</a>
              </li>
              <li class='m-dropdown-menu--item'>
                <a class='m-dropdown-menu--link' href='club/lobby.html'>Club Lobby</a>
              </li>
            </ul>
          </li>
          <li class='m-navigation_primary--item'>
            <a class='m-navigation_primary--link highlight' href='http://localhost:9393/deposits/new'>
              Deposit
            </a>
          </li>
          <li class='m-navigation_primary--item search'>
            <form action='index.html'>
              <input class='m-input_search dark' placeholder='search site' type='search'>
              <a class='icon-search' href='rewards.html#'>search</a>
            </form>
          </li>
        </ul>
      </div>
      <div class='content' id='content'>
        <div class='m-section'>
  <div class='m-section--body'>
    <div class='m-content--group'>
      <div class='grid-10 grid-prefix-4'>
        <h1 class='m-content-heading'>
          <em class='m-division--heading-playon'>PlayON</em>
          Rewards Points
        </h1>
      </div>
    </div>
    <div class='m-content--group'>
      <div class='grid-4'>
        <div class='grid-3-and-half anchor-right'>
          <h2 class='m-content--sub-heading'>
            <em class='m-division--heading-playon'>PlayON</em>
            Rewards point levels and prizes
          </h2>
        </div>
      </div>
      <div class='m-content--body grid-10'>
        <p class='m-content--body-text'>PlayON Reward Point Levels:</p>
        <div class='m-division--well'>
          <div class='m-reward-level ballboy'>
            <p class='m-reward-level--info'>Ballboy</p>
            <p class='m-reward-level--info'>500 points</p>
            <p class='m-reward-level--info'>-</p>
          </div>
          <div class='m-reward-level player'>
            <p class='m-reward-level--info'>Player</p>
            <p class='m-reward-level--info'>5,000 points</p>
            <p class='m-reward-level--info glow'>£10 Free</p>
          </div>
          <div class='m-reward-level manager'>
            <p class='m-reward-level--info'>Manager</p>
            <p class='m-reward-level--info'>20,000 points</p>
            <p class='m-reward-level--info glow'>£20 Free</p>
          </div>
          <div class='m-reward-level hero'>
            <p class='m-reward-level--info'>Hero</p>
            <p class='m-reward-level--info'>50,000 points</p>
            <p class='m-reward-level--info glow'>£50 Free</p>
          </div>
          <div class='m-reward-level legend'>
            <p class='m-reward-level--info'>Legend</p>
            <p class='m-reward-level--info'>100,000 points</p>
            <p class='m-reward-level--info glow'>£120 Free</p>
          </div>
        </div>
        <p class='m-content--body-text'>That's £200 Absolutely Free for inviting your friends and playing games at PlayON. Invite your friends who play Fantasy Football now before someone else does.</p>
        <button class='m-button'>Invite to PlayON</button>
      </div>
    </div>
    <div class='m-content--group'>
      <div class='grid-4'>
        <div class='grid-3-and-half anchor-right'>
          <h2 class='m-content--sub-heading'>
            <em class='m-division--heading-playon'>PlayON</em>
            Rewards Points
          </h2>
        </div>
      </div>
      <div class='m-content--body grid-10'>
        <p class='m-content--body-text'>For every friend who signs-up to PlayON, we'll give you 1,000 Reward Points. We'll also give them 750 Reward Points, so you both win.</p>
        <p class='m-content--body-text'>When you reach 5,000 Reward Points, we give you £10 Absolutely Free - that's £10 for inviting just 5 friends.</p>
        <p class='m-content--body-text'>Do you know 5 people who play Fantasy Football? Invite them now before someone else does and you'll have £10 in your account before you know it.</p>
        <button class='m-button'>Invite to PlayON</button>
      </div>
    </div>
    <div class='m-content--group'>
      <div class='grid-4'>
        <div class='grid-3-and-half anchor-right'>
          <h2 class='m-content--sub-heading'>
            Other ways to earn
            <em class='m-division--heading-playon'>PlayON</em>
            Rewards Points
          </h2>
        </div>
      </div>
      <div class='m-content--body grid-10'>
        <p class='m-content--body-text'>You can also earn extra PlayON Reward Points in the following ways:</p>
        <table class='m-content--table'>
          <thead>
            <tr>
              <th>Action</th>
              <th>Reward</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class='m-content--body-text'>Challenge someone to a cash one-on-one game and they accept:</td>
              <td class='m-content--body-text'>50 points</td>
            </tr>
            <tr>
              <td class='m-content--body-text'>Invite someone to a cash multiplayer game and they join:</td>
              <td class='m-content--body-text'>50 points</td>
            </tr>
            <tr>
              <td class='m-content--body-text'>Every time you enter a cash one-on-one game:</td>
              <td class='m-content--body-text'>10 points</td>
            </tr>
            <tr>
              <td class='m-content--body-text'>Every time you enter a cash multiplayer game:</td>
              <td class='m-content--body-text'>10 points</td>
            </tr>
          </tbody>
        </table>
        <button class='m-button'>Invite to PlayON</button>
      </div>
    </div>
    <div class='m-content--group'>
      <div class='grid-4'>
        <div class='grid-3-and-half anchor-right'>
          <h2 class='m-content--sub-heading'>Club point levels and prizes</h2>
        </div>
      </div>
      <div class='m-content--body grid-10'>
        <p class='m-content--body-text'>PlayON Club Point Levels:</p>
        <div class='m-division--well'>
          <div class='m-reward-level club green'>
            <p class='m-reward-level--info'>Status: Green</p>
            <p class='m-reward-level--info'>0 - 500 points</p>
            <p class='m-reward-level--info'>-</p>
          </div>
          <div class='m-reward-level club bronze'>
            <p class='m-reward-level--info'>Status: Bronze</p>
            <p class='m-reward-level--info'>10m points</p>
            <p class='m-reward-level--info glow'>10 x £10 Free</p>
          </div>
          <div class='m-reward-level club silver'>
            <p class='m-reward-level--info'>Status: Silver</p>
            <p class='m-reward-level--info'>50m points</p>
            <p class='m-reward-level--info glow'>10 x £20 Free</p>
          </div>
          <div class='m-reward-level club gold'>
            <p class='m-reward-level--info'>Status: Gold</p>
            <p class='m-reward-level--info'>250m points</p>
            <p class='m-reward-level--info glow'>10 x £50 Free</p>
          </div>
          <div class='m-reward-level club black'>
            <p class='m-reward-level--info'>Status: Black</p>
            <p class='m-reward-level--info'>1bn points</p>
            <p class='m-reward-level--info glow'>10 x £120 Free</p>
          </div>
        </div>
        <p class='m-content--body-text'>That's £2,000 Absolutely Free for you and your club supporters. Invite your friends to join your club now and get on the road to scoring goals.</p>
        <button class='m-button'>Invite to Club</button>
      </div>
    </div>
    <div class='m-content--group'>
      <div class='grid-4'>
        <div class='grid-3-and-half anchor-right'>
          <h2 class='m-content--sub-heading'>
            <em class='m-division--heading-playon'>PlayON</em>
            Club Points
          </h2>
        </div>
      </div>
      <div class='m-content--body grid-10'>
        <p class='m-content--body-text'>Every week you play at PlayON your team's points total gets added to your club's points total - the more you pla, the more points your club earns.</p>
        <p class='m-content--body-text'>When your club reaches 1m Club Points, we give 10 random people in the club £10 Absolutely Free. The more people playing for your club, the quicker your club will reach 1m points.</p>
        <p class='m-content--body-text'>Do you know 5 people who support your favourite club? Invite them now so you can both win £10.</p>
        <button class='m-button'>Invite to Club</button>
      </div>
    </div>
    <div class='m-content--group'>
      <div class='grid-4'>
        <div class='grid-3-and-half anchor-right'>
          <h2 class='m-content--sub-heading'>How to earn club points</h2>
        </div>
      </div>
      <div class='m-content--body grid-10'>
        <p class='m-content--body-text'>Other ways your club earns PlayON Club Points:</p>
        <table class='m-content--table'>
          <thead>
            <tr>
              <th>Action</th>
              <th>Reward</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class='m-content--body-text'>Invite someon to join a clun and they join:</td>
              <td class='m-content--body-text'>1,000 points</td>
            </tr>
            <tr>
              <td class='m-content--body-text'>You join a club</td>
              <td class='m-content--body-text'>500 points</td>
            </tr>
            <tr>
              <td class='m-content--body-text'>You leave a club</td>
              <td class='m-content--body-text'>-500 points</td>
            </tr>
          </tbody>
        </table>
        <button class='m-button'>Invite to Club</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class='footer-container'>
  <footer class='m-footer grid-container'>
    <div class='grid-4'>
      <img src='http://localhost:9393/images/footer-logo.png'>
      <ul class='social-media-icons'>
        <li class='m-footer-menu--item'>
          <a class='icon-twitter' href='http://www.twitter.com/PlayON'>Twitter</a>
          <a class='icon-facebook' href='http://www.facebook.com/PlayON'>Facebook</a>
        </li>
      </ul>
    </div>
    <div class='grid-4'>
      <h3 class='m-footer--heading m-footer--heading'>About PlayOn</h3>
      <ul class='m-footer-menu'>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='about.html'>About Us</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='rewards.html#'>Contact Us</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='responsible-gambling.html'>Responsible Gambling</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='terms-and-conditions.html'>Terms &amp; Conditions</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='privacy-policy.html'>Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class='grid-4'>
      <h3 class='m-footer--heading'>The Game</h3>
      <ul class='m-footer-menu'>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='how-to-play/introduction.html'>How To Play</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='game-rules.html'>Game Rules</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='scoring-matrix.html'>Scoring Matrix</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='payout-structure.html'>Payout Structure</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='rewards.html#'>Top 5 Leaderboard</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='rewards.html'>Rewards</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='http://localhost:9393/website-invite'>Invite Friends</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='account/deposit.html'>Deposit</a>
        </li>
      </ul>
    </div>
    <div class='grid-4'>
      <h3 class='m-footer--heading'>My PlayOn</h3>
      <ul class='m-footer-menu'>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='http://localhost:9393/team'>My Team</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='games/one-on-one.html'>My One-on-One Games</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='http://localhost:9393/games/mulitplayer'>My Multiplayer Games</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='rewards.html#'>My Results</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='rewards.html#'>My Rewards</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='http://localhost:9393/my-club'>My Club</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='http://localhost:9393/profile-user'>My Profile</a>
        </li>
        <li class='m-footer-menu--item'>
          <a class='m-footer-menu--link' href='http://localhost:9393/account'>My Account</a>
        </li>
      </ul>
    </div>
    <div class='m-footer--legal grid-16 grid-container'>
      <div class='grid-5 m-regulators'>
        <a class='m-regulators--link icon-gambling-commission' href='http://www.gamblingcommission.gov.uk/'></a>
        <a class='m-regulators--link icon-gamcare' href='http://www.gamcare.org.uk/'></a>
        <a class='m-regulators--link icon-ibas' href='http://www.ibas-uk.com/'></a>
        <a class='m-regulators--link icon-cyber-patrol' href='http://www.cyberpatrol.com/'></a>
        <a class='m-regulators--link icon-opta' href='http://www.optasports.com'></a>
        <a class='m-regulators--link icon-rackspace' href='http://www.rackspace.co.uk'></a>
      </div>
      <div class='grid-7'>
        <p>PlayON is licensed and regulated by the UK Gambling Commission to act as a betting intermediary. License Number: 000-032608-R-314435-001.</p>
        <p>Premier League fixtures reproduced under license from Football DataCo Limited. All rights reserved. Licence Number: FDCBETEXCH12-13/119097</p>
      </div>
      <div class='m-footer--copyright grid-3'>
        <p>Images &copy; copyright 1999-2013 Getty Images, Inc.</p>
        <p class='highlight'>&copy; 2013 PlayON</p>
        <p>All rights reserved</p>
      </div>
    </div>
  </footer>
</div>
    <div aria-hidden='false' aria-labelledby='modal-header' class='modal m-modal_sign-up hide fade new in' id='modal' role='dialog' tabindex='-1'>
      <span aria-hidden='true' class='m-modal-close' data-dismiss='modal' type='button'>&times;</span>
      <div class='new-session-form' id='sign_up_form'>
        <h1>Sign up. it's free:</h1>
        <p class='m-modal--encouragement'>You're 30 seconds away from the action. Get in.</p>
        <p class='alert'></p>
        <form accept-charset='UTF-8' action='http://localhost:9393/users' class='simple_form m-form_modal' data-remote='true' id='sign_up_user' method='post' novalidate='novalidate'>
          <div style='margin:0;padding:0;display:inline'>
            <input name='utf8' type='hidden' value='✓'>
          </div>
          <div class='m-form-element'>
            <div class='input string required'>
              <label class='string required m-label' for='user_first_name'>
                First name
                <abbr class='m-label--required' title='required'>*</abbr>
              </label>
              <input class='string required m-input_text' id='user_first_name' name='user[first_name]' size='50' type='text'>
            </div>
          </div>
          <div class='m-form-element'>
            <div class='input string required'>
              <label class='string required m-label' for='user_last_name'>
                Last name
                <abbr class='m-label--required' title='required'>*</abbr>
              </label>
              <input class='string required m-input_text' id='user_last_name' name='user[last_name]' size='50' type='text'>
            </div>
          </div>
          <div class='m-form-element'>
            <div class='input email required'>
              <label class='email required m-label' for='user_email'>
                Email
                <abbr class='m-label--required' title='required'>*</abbr>
              </label>
              <input class='string email required m-input_text' id='user_email' name='user[email]' size='50' type='email' value=''>
            </div>
          </div>
          <div class='m-form-element'>
            <div class='input password required'>
              <label class='password required m-label' for='user_password'>
                Password
                <abbr class='m-label--required' title='required'>*</abbr>
              </label>
              <input class='password required m-input_text' id='user_password' name='user[password]' size='50' type='password'>
            </div>
          </div>
          <div class='m-form-element'>
            <label class='m-label_checkbox right' for='user[age_validation]'>
              I confirm I am over 18
              <input class='m-checkbox' id='user_age_validation' name='user[age_validation]' type='checkbox' value='1'>
            </label>
          </div>
          <div class='m-form-actions'>
            <div class='m-form-actions--next'>
              <input class='m-button' name='commit' type='submit' value='Sign up'>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div aria-hidden='false' aria-labelledby='modal-header' class='modal m-modal_invite hide fade in' id='invite_modal' role='dialog' tabindex='-1'>
      <i class='m-modal-close m-icon icon-close' data-dismiss='modal'></i>
      <div class='m-modal--header-bar'>
        <h1 class='m-header-bar--heading'>Invite to PlayON</h1>
      </div>
      <img alt='Invite a friend &amp; earn 100 reward points each' src='http://localhost:9393/images/invite-a-friend.png'>
      <div class='m-modal--body'>
        <p>Invite friends to playon. Every time a friend registers, you both earn 100 reward points.</p>
        <div class='m-invite-section'>
          <div class='m-invite-section--option'>
            <h3 class='m-invite-section--heading'>Connect to Facebook to invite friends:</h3>
            <a class='m-button_invite facebook' href='rewards.html#'>
              <i class='icon-facebook-button'></i>
              invite from facebook
            </a>
          </div>
        </div>
        <div class='m-invite-section'>
          <div class='m-invite-section--option'>
            <h3 class='m-invite-section--heading'>Invite your contacts by email:</h3>
            <a class='m-button_invite' href='rewards.html#'>
              <i class='icon-email-invite-button'></i>
              invite by email
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
